@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<canvas width="400" height="400"></canvas>

<button>Roll</button>

<style>

button {
    padding: 0.6rem 1.2rem;
    border-radius: 5px;
    border: none;
    background: hsl(250, 50%, 100%);
    font-weight: bold;
    color: inherit;
}

</style>
